<ion-header>
  <ion-navbar>
    <ion-title>Rich-link-previewer lib</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h2>Demo</h2>

  Url: <input type="text" style="width: 320px;" [(ngModel)]="url">
  <button ion-button color="secondary" (click)="loadMetaData()">Load MetaData</button>
  <br>
  <br>
  <div id="container-rich" class="preview-rich" [hidden]="!showPreview">
    <span id="brand" class="brand" [ngStyle]="{'background-image': 'url(' + imageUrl + ')'}"></span>
    <span class="title">{{title}}</span>
    <span class="description">{{description}}</span>
    <span class="url"><a href="#">{{hostName}}</a></span>
  </div>

  <h4>{{fetchInfo}} </h4>
  <pre>{{result}}</pre>
</ion-content>
