page-home {}

.preview-rich {
  border: 1px solid #a8bb99;
  background: #e4e4e4;
  border-radius: 5px;
  width: 377px;
  height: 140px;
  font-size: 14px;
  padding: 5px;
  margin-bottom: 40px;
}

.preview-rich .brand {
  float: left;
  width: 130px;
  height: 130px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-right: 8px;
}

.preview-rich .title {
  font-weight: bold;
  color: #000;
  display: block;
}

.preview-rich .description {
  color: darkcyan;
  display: block;
  margin-bottom: 5px;
  height: 72px;
  white-space: inherit;
  overflow: hidden;
  text-overflow: ellipsis;
}
